/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body {
  font-family: 'Voltaire', sans-serif;
}

a {
  color: #000;
}

h1 {
  font-family: 'Cantora One', serif;
}

h2 {
  font-family: 'Contrail One', sans-serif;
}

h3 {
  font-family: 'Voltaire', sans-serif;
  font-size: 1.5em;
}

p {
  font-family: 'Voltaire', sans-serif;
  line-height: 1.5;
}

nav {
  font-family: 'Voltaire', sans-serif;
}

button {
  font-family: 'Contrail One', sans-serif;
}

ul, ol {
  font-family: 'Voltaire', sans-serif;
}

/* Header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

header img {
  height: 6rem;
  width: auto;
}

header nav {
  justify-content: space-between;
}

header nav a {
  margin: 0 1rem;
}

/* Navigation */
nav {
  display: flex;
}

a {
  text-decoration: none;
}

/* Footer */
footer {
  text-align: center;
}

section,
article {
  margin: 1rem, 0;
}

/* Recipe Cards */
.hidden {
  display: none;
}

/* Form */
fieldset {
  border: none;
  margin-bottom: 0.5rem;
}

label,
legend {
  margin-bottom: 0.5rem;
}

legend {
  border-bottom: 1px solid #000;
}

input[type=text],
select,
form button {
  display: block;
  padding: 0.5rem;
  width: 80%;
  margin-bottom: 0.5rem;
}

input[type=radio],
input[type=checkbox] {
  padding: 0.5rem;
  margin: 0.125rem;
}
/* Larger Screen Sizes */
@media screen and (min-width: 600px) {
  header img {
    height: 7rem;
  }

  main {
    width: 80%;
    margin: 0 auto;
  }
}