:root {
    --color-1: #456;
    --mobile-width: 300px;
    --header-height: 4.5rem;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-1);
    position: relative;
    height: var(--header-height);
}

#logo {
    color: #fff;
    font-size: 2rem;
}

.navigation li {
    list-style: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.rest {
    display: none;
}

.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: var(--header-height);
    left: 0;
    background-color: var(--color-1);
    width: 100%;
}

#normal-nav {
    display: none;
}

#mobile-nav a, #mobile-nav li {
    width: 95%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: .75em;
}

.gallery {
    width: var(--mobile-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

/* #menu-icon::before {
    content: "≡";
} */

#menu-icon {
    display: block;
    width: 2rem;
    height: 2.5rem;
    background-color: var(--color-1);
    border: 1px solid white;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

#menu-icon:hover, .navigation a:hover {
    background-color: #fff;
    color: var(--color-1);
}

/* #menu-icon.open::before {
    content: "x";
} */

footer {
    color: #fff;
    background-color: var(--color-1);
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
}