@media screen and (min-width: 42rem) {
    #menu-icon {
        display: none;
    }

    #mobile-nav {
        display: none;
    }

    #normal-nav {
        display: flex;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        width: 800px;
    }
}