body {
    font-family: 'Roboto', sans-serif;
}

header, 
main, 
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #AAA;
    padding: .75rem;
    background-color: #8CF;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: .25rem 1rem;
    background-color: #CEF;
}